<div class="card open-pos shadow p-2 m-2">
    <div class="card-header bg-primary">
        <h2 class="text-center text-white">Open Purchase Orders</h2>
        <p class="text-center text-white">Time since update:&nbsp;<span data-bind="text:$elapsed"></span></p>
    </div>
    <svg id="chart" class="card-body"></svg>
    <div class="card-footer">
        <button class="btn btn-lg btn-primary has-spinner" data-bind="click: refreshClick, css: { disabled: $busy, active: $busy }">
            <span class="spinner"><i class="fa fa-spinner fa-spin"></i></span>
            &nbsp;Refresh</button>
    </div>
</div>